<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a1fd0ef2-ad01-4d50-9624-d8d270204606/resourceGroups/SureshShoppingCartAPI_group/providers/Microsoft.Web/sites/SureshShoppingCartAPI</ResourceId>
    <ResourceGroup>SureshShoppingCartAPI_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://sureshshoppingcartapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e5697be1-1dda-4cea-bd11-420c863c2a7d</ProjectGuid>
    <PublishUrl>https://sureshshoppingcartapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SureshShoppingCartAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>